.contact-form-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2F2F2F;
}

.form-element {
  display: flex;
  height: 300px;
  justify-content: space-evenly;
  text-align: left;
  flex-direction: column;
}

.form-wrapper {
  width: 40%;
}

.contact-header {
  color: white;
}

.info-section {
  color: white;
}

.border-bottom {
  border-bottom: 3px solid gray;
  padding-bottom: 20px;
}

.first-wrapper {
  display: flex;  
  flex-direction: column;
}

.label-element {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: white;
  display: flex;
}

.email-input {
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.0rem;
}

.second-wrapper {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.email-text {
  border: none;
  height: 58px;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  margin: 0px;
}

.submit-button {
  border: none;
  margin-top: 10px;
  width: 40%;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 0.9rem;
}