.home-wrapper {
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;  
  background-image: url("../images/Jonathan.JPG");
  background-position: center bottom;
  background-size: cover;
}


/* Typing Component */

.typing-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; 
  opacity: 0.8;
  width: 100%;
  height: inherit;
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.typing-component {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

/* Typing Component */


/* Learn More */

.learn-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.learn-more-wrapper:hover {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  transition: 0.3s;
  cursor: pointer;
}

/* Learn More */