.projects-wrapper {
  width: 100%;
  height: auto;  
  background-color: #98D2EB;
  padding-top: 150px;
  display: flex;  
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 5%;
  align-items: center;
}

.row-2 {
  flex-direction: row-reverse;
}

.app-pic-wrapper {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
}

.app-pic-wrapper:hover {
  cursor: pointer;
  transition: 0.4s;
  -webkit-box-shadow: 26px 17px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 26px 17px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 26px 17px 5px 0px rgba(0,0,0,0.75);
}

.app-screen-shot {
  max-height: 300px;
  border: 0px solid black;
  border-radius: 10px;
  max-width: 600px;
}

.app-text-wrapper {
  width: 100%;
  text-align: left;
}
